@charset "UTF-8";
/* rubik-500 - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* rubik-700 - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* lato-regular */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* Lato-Medium */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: local("Lato-Medium"), local("Lato-Medium"), url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* lato-600 */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: local("Lato Semibold"), local("Lato-Semibold"), url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* lato-700 */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #1A212F;
}

fieldset {
  padding: 0;
}

body {
  min-width: 320px;
  margin: 0 auto;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #1A212F;
  background-color: #FFFEFD;
}

body.body-lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding-left: 4.6875%;
  padding-right: 4.6875%;
}

.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 62px;
}

.logo {
  display: block;
  width: 46px;
  height: 38px;
}

.header__menu-button {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  transition: 0.3s;
  right: -8px;
}

.header__logo,
.header__menu-button {
  position: relative;
  z-index: 7;
}

.header__menu-button::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  left: 8px;
  top: 12px;
  border-radius: 2px;
  background-color: #1A212F;
  box-shadow: 0 7px 0 0 #1A212F;
  transition: 0.2s;
}

.header__menu-button::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  left: 8px;
  bottom: 12px;
  border-radius: 2px;
  background-color: #1A212F;
  transition: 0.2s;
}

.header-menu {
  position: absolute;
  min-height: 519px;
  top: 0;
  left: -105.2%;
  right: -5.2%;
  padding-left: 5.2%;
  padding-top: 95px;
  background-color: #FAC663;
  z-index: -1;
  opacity: 0;
  transition: 0.3s ease-in;
}

.header-menu__mobile-contacts {
  display: block;
}

.header--mobile-menu-active .header__menu-button::before {
  width: 21px;
  left: 10px;
  top: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: none;
}

.header--mobile-menu-active .header__menu-button::after {
  width: 21px;
  left: 10px;
  bottom: 18px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header--mobile-menu-active .header-menu {
  z-index: 6;
  opacity: 1;
  left: -5.2%;
  transition: 0.3s ease-out;
}

.header-menu__item {
  margin-bottom: 15px;
}

.nav-menu__item--mobile-disabled {
  display: none;
}

.header-menu__link,
.header-contacts__title {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.header-contacts__title {
  margin-bottom: 32px;
}

.header-contacts__phone {
  display: block;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #1A212F;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
}

.social-list__link {
  display: block;
  width: 24px;
  height: 27px;
  margin-right: 20px;
  font-size: 0;
  background-size: 24px;
}

.social-list__link--facebook {
  background-image: url(../img/icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-list__link--instagram {
  background-image: url(../img/icon-instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-list__link--vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.intro {
  min-height: 457px;
  height: 142vw;
  max-height: 675px;
  background-color: #FAC663;
  background-image: url(../img/intro-background-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
}

.intro__content {
  padding-top: 45px;
  margin-bottom: 35px;
}

.intro__city {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.intro__title {
  margin-bottom: 10px;
  font-family: 'Rubik';
  font-weight: bold;
  font-size: 44px;
  line-height: 49px;
}

.intro__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.cover-button {
  display: block;
  width: 206px;
  height: 50px;
  padding-top: 16px;
  padding-right: 32px;
  background-color: #FFFEFD;
  background-image: url(../img/button-paw.svg);
  background-repeat: no-repeat;
  background-position: right 7px top 7px;
  box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
  border-radius: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.intro__button {
  margin: 0 auto;
}

.features {
  padding-top: 64px;
  padding-bottom: 30px;
  padding-left: 4.6875%;
  padding-right: 4.6875%;
  background-image: url(../img/background-paw-1.svg);
  background-repeat: no-repeat;
  background-size: 144px auto;
  background-position: right -45px top 37px;
}

.section-title {
  text-align: center;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.features__title {
  margin-bottom: 33px;
}

.features__item {
  min-width: 290px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 110px 25px 19px 25px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  background-size: 60px;
  background-position: 25px 25px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.description-title {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}

.features__item__title {
  margin-bottom: 9px;
}

.features__text {
  font-size: 15px;
  line-height: 140%;
}

.features__item--temperature {
  background-image: url(../img/features-item-1.svg);
  background-repeat: no-repeat;
}

.features__item--video {
  background-image: url(../img/features-item-2.svg);
  background-repeat: no-repeat;
}

.features__item--zootaxi {
  background-image: url(../img/features-item-3.svg);
  background-repeat: no-repeat;
}

.features__item--food {
  background-image: url(../img/features-item-4.svg);
  background-repeat: no-repeat;
}

.features__item--walk {
  background-image: url(../img/features-item-5.svg);
  background-repeat: no-repeat;
}

.features__item--veterinarians {
  background-image: url(../img/features-item-6.svg);
  background-repeat: no-repeat;
}

.apartaments {
  padding-top: 35px;
  background-image: url(../img/background-fish.svg);
  background-repeat: no-repeat;
  background-size: 150px auto;
  background-position: 0 72px;
}

.apartaments__title {
  margin-bottom: 33px;
}

.apartaments__slider {
  min-width: 290px;
  margin: 0 auto;
  padding-bottom: 37px;
  padding-left: 4.6875%;
  padding-right: 4.6875%;
}

.apartaments__list {
  margin-bottom: 30px;
}

.apartaments-item__image {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.apartaments-item__description-wrap {
  width: 240px;
  margin: 0 auto;
}

.apartaments-item__description {
  margin-top: -4px;
  padding: 20px 25px 25px 25px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 0px 0px 8px 8px;
}

.apartaments-item__title {
  margin-bottom: 18px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.apartaments-item__text {
  margin-bottom: 20px;
}

.apartaments-item__text span {
  display: none;
}

.apartaments-item__sub-text {
  padding-left: 19px;
  position: relative;
  margin-bottom: 9px;
  font-size: 15px;
  line-height: 19px;
}

.apartaments-item__sub-text:last-child {
  margin-bottom: 0;
}

.apartaments-item__sub-text::before {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  left: 0;
  top: 3px;
  background: #FAC663;
}

.apartaments-item__link {
  display: block;
  width: 240px;
  height: 50px;
  margin: 0 auto;
  padding-top: 16px;
  padding-left: 49px;
  background: #FF7236;
  background-image: url(../img/button-paw-revere.svg);
  background-repeat: no-repeat;
  background-position: right 7px top 7px;
  box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
  border-radius: 25px;
  color: #FFFEFD;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 20px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #E1E1E1;
  opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}

.swiper-pagination-bullet-active {
  background: #FAC663;
}

.swiper-buttons-container {
  display: none;
}

.feedback {
  padding-top: 40px;
  background-image: url(../img/background-paw-2.svg);
  background-repeat: no-repeat;
  background-size: 145px auto;
  background-position: right -42px top 8px;
}

.feedback__slider {
  width: 100%;
  min-width: 290px;
  margin: 0 auto;
  padding-top: 33px;
  padding-left: 4.6875%;
  padding-right: 4.6875%;
  padding-bottom: 65px;
}

.feedback-item {
  position: relative;
  min-height: 130px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  padding: 22px 20px 20px 56px;
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
}

.feedback-item::before {
  content: '“';
  position: absolute;
  top: 42px;
  left: 25px;
  font-weight: 500;
  font-size: 54px;
  color: #FAC663;
}

.feedback-item__information {
  display: none;
}

.contacts {
  padding-top: 46px;
}

.contacts__text {
  background: #FAC663;
  padding-left: 4.6875%;
  padding-right: 4.6875%;
  padding-top: 34px;
  padding-bottom: 39px;
}

.contacts__title {
  text-align: left;
  margin-bottom: 31px;
}

.contacts-item {
  margin-bottom: 23px;
}

.contacts-item:last-child {
  margin-bottom: 0;
}

.contacts-item__title {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 8px;
}

.contacts-item__text,
.contacts-item__link {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #1A212F;
}

.social-list--smaller-distance .social-list__link {
  margin-right: 18px;
}

.contacts__map {
  height: 300px;
  overflow: hidden;
}

.footer__nav {
  padding-top: 30px;
  padding-left: 4.6875%;
  padding-right: 4.6875%;
  padding-bottom: 25px;
  border-bottom: 1px solid #EFEFEF;
}

.footer__logo {
  margin-bottom: 23px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
}

.footer-menu__item {
  width: 45%;
  margin-bottom: 13px;
}

.footer-menu__item:nth-child(2n) {
  margin-bottom: 0;
}

.footer-menu__item:nth-child(1) {
  order: 1;
}

.footer-menu__item:nth-child(2) {
  order: 3;
}

.footer-menu__item:nth-child(3) {
  order: 2;
}

.footer-menu__item:nth-child(4) {
  order: 4;
}

.footer-menu__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.copyright {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 4.6875%;
  padding-right: 4.6875%;
  padding-bottom: 25px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #8F8F8F;
}

.copyright__rights {
  padding-left: 14px;
  background-image: url(../img/icon-copyright.svg);
  background-repeat: no-repeat;
  background-position: 0 2px;
  margin-bottom: 15px;
}

.catalog-apartaments {
  position: relative;
  padding-left: 4.6875%;
  padding-right: 4.6875%;
  margin-top: 34px;
  padding-bottom: 70px;
}

.catalog-apartaments__header {
  margin-bottom: 30px;
}

.catalog-apartaments__title {
  margin-bottom: 33px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.catalog-apartaments__filter-button,
.custom-select {
  height: 35px;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 25px;
}

.catalog-apartaments__controls {
  display: flex;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.catalog-apartaments__filter-button {
  width: 111px;
  padding-left: 37px;
  font-weight: 600;
  text-align: left;
  background-image: url(../img/apartaments-catalog/filter-icon.svg);
  background-repeat: no-repeat;
  background-size: 12px auto;
  background-position: 15px 10px;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 154px;
  margin-left: auto;
  font-weight: normal;
  cursor: pointer;
  overflow: hidden;
}

.custom-select::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 2;
  display: block;
  width: 14px;
  height: 8px;
  background-image: url(../img/apartaments-catalog/select-open-arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: 0.2s;
}

.custom-select--open {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  outline: none;
  overflow: visible;
}

.custom-select--open::before {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.custom-select__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
}

.custom-select__list--hidden {
  display: none;
}

.custom-select__item {
  display: block;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 25px;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position-x: 14px;
  background-position-y: 11px;
}

.custom-select__item:hover {
  background-color: #f5f5f5;
}

.custom-select__current .custom-select__item:hover {
  background-color: transparent;
}

.custom-select__item--area-up,
.custom-select__item--price-up {
  background-image: url(../img/apartaments-catalog/apartaments-select-arrow-up.svg);
}

.custom-select__item--area-down,
.custom-select__item--price-down {
  background-image: url(../img/apartaments-catalog/apartaments-select-arrow-down.svg);
}

.popup-filter {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  transition: opacity 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(255, 254, 253, 0.8);
}

.popup-filter--close {
  display: none;
}

.popup-content {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
}

.catalog-apartaments__filter {
  position: relative;
  width: 290px;
  padding-top: 48px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
  background: #FFFEFD;
  box-shadow: 0px 4px 25px rgba(153, 153, 153, 0.25);
  border-radius: 6px;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.catalog-apartaments__filter--close {
  display: none;
}

.filter__close {
  right: 7px;
  top: 7px;
}

.popup-close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../img/close-button-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  cursor: pointer;
}

.filter__price {
  margin-bottom: 28px;
}

.subsection-title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.subsection-title__symbol {
  font-size: 14px;
  line-height: 17px;
}

.price-button-wrap {
  display: flex;
}

.price-input {
  box-sizing: border-box;
  padding: 8px;
  width: 99px;
  border: 1px solid #E1E1E1;
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  color: #1A212F;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.price-input:last-child {
  margin-left: 14px;
}

.price-input::-webkit-input-placeholder {
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  color: #1A212F;
}

.price-input::-moz-placeholder {
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  color: #1A212F;
}

.price-input:-ms-input-placeholder {
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  color: #1A212F;
}

.price-input::-ms-input-placeholder {
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  color: #1A212F;
}

.price-input::placeholder {
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  color: #1A212F;
}

.price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.filter__area {
  margin-bottom: 26px;
}

.filter-list__item:not(:last-child) {
  height: 24px;
  margin-bottom: 15px;
}

.filter__input {
  cursor: pointer;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter__label {
  position: relative;
  padding-left: 34px;
  font-size: 14px;
  line-height: 26px;
  cursor: pointer;
}

.filter__label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #E1E1E1;
  background-position: left 5px top 7px;
  background-repeat: no-repeat;
  background-size: 12px auto;
}

.filter__input:focus + .filter__label::before {
  outline: 5px auto -webkit-focus-ring-color;
}

.filter__input:checked + .filter__label::before {
  background-image: url(../img/apartaments-catalog/filter-checkbox.svg);
}

.filter__equipment {
  margin-bottom: 33px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.filter-button {
  width: 100%;
  height: 42px;
  border-radius: 25px;
  cursor: pointer;
}

.filter-buttons__apply {
  margin-bottom: 15px;
  background: #FAC663;
}

.filter-buttons__reset {
  border: 2px solid #FAC663;
  background-color: transparent;
}

.catalog-apartaments__item {
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 6px;
  overflow: hidden;
}

.catalog-item:not(:last-child) {
  margin-bottom: 30px;
}

.image-container {
  width: 100%;
  height: 57.8125vw;
}

.catalog-item__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.catalog-item__description-wrap {
  padding-bottom: 24px;
  background: #FFFFFF;
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  border-radius: 0 0 6px 6px;
}

.catalog-item__description {
  width: 250px;
  padding-left: 5px;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 19px;
}

.catalog-item__title {
  margin-bottom: 13px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.catalog-item__parameters {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.catalog-item__parameter {
  margin-bottom: 8px;
}

.equipment-wrap {
  display: flex;
  justify-content: flex-start;
}

.equipment-list {
  display: flex;
}

.catalog-item__equipment {
  margin-top: -2px;
}

.equipment-list__item {
  position: relative;
  margin-left: 12px;
}

.equipment-list__item:first-child {
  padding-top: 2px;
}

.equipment-list__item:first-child .equipment-list__title {
  left: -30px;
}

.equipment-list__item:nth-child(2) .equipment-list__title {
  right: -34px;
}

.equipment-list__item:nth-child(3) .equipment-list__title {
  right: -34px;
}

.equipment-list__item:nth-child(4) .equipment-list__title {
  right: -10px;
}

.equipment-list__item::before {
  content: "";
  display: none;
  position: absolute;
  top: -21px;
  left: 2px;
  z-index: 10;
  width: 13px;
  height: 13px;
  background-color: #FFFEFD;
  border-right: 1px solid #FAC663;
  border-bottom: 1px solid #FAC663;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.equipment-list__title {
  display: none;
  position: absolute;
  top: -46px;
  background: #FFFEFD;
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #FAC663;
  border: 1px solid #FAC663;
  box-shadow: 0px 4px 12px rgba(173, 152, 143, 0.18);
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
}

.equipment-list__item:hover .equipment-list__title {
  display: block;
}

.equipment-list__item:hover::before {
  display: block;
}

.catalog-item__price {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.catalog-item__price:first-child {
  margin-left: 6px;
}

.catalog-item__link-wrap {
  padding: 0 8.3333%;
}

.catalog-item__link {
  display: block;
  width: 240px;
  height: 46px;
  margin: 0 auto;
  padding-top: 15px;
  padding-right: 29px;
  background-color: #FF7236;
  border-radius: 25px;
  background-image: url(../img/button-paw-revere.svg);
  background-repeat: no-repeat;
  background-position: right 6px top 6px;
  background-size: 34px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFEFD;
  text-align: center;
}

.room {
  padding-left: 4.6875%;
  padding-right: 4.6875%;
  padding-top: 40px;
  margin-bottom: 17px;
}

.room__images {
  margin-bottom: 33px;
}

.gallery-top {
  border-radius: 8px;
  margin-bottom: 16px;
}

.gallery-top__slide {
  height: 89.925vw;
}

.gallery-thumbs {
  border-radius: 4px;
}

.gallery-thumbs__slide {
  height: 20.3689vw;
  border-radius: 4px;
}

.room__image {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery-top__slide .room__image {
  border-radius: 8px;
}

.gallery-thumbs__slide .room__image {
  border-radius: 4px;
}

.room__description {
  width: 290px;
  margin: 0 auto;
}

.room__title {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 21px;
}

.room__parameters {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 26px;
}

.room__parameter:not(:last-child) {
  margin-bottom: 13px;
}

.room__equipment {
  margin-top: -2px;
}

.equipment__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.equipment__image {
  margin-right: 10px;
}

.equipment__title {
  line-height: 15px;
  padding-top: 2px;
}

.room__price {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.room__to-book {
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 76px;
  padding-top: 16px;
  background-color: #FF7236;
  background-image: url(../img/button-paw-revere.svg);
  background-repeat: no-repeat;
  background-position: right 7px top 7px;
  box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
  border-radius: 25px;
  color: #FFFEFD;
  cursor: pointer;
}

.banner {
  padding-left: 4.6875%;
  padding-right: 4.6875%;
  margin-bottom: 24px;
}

.banner__body {
  width: 100%;
  height: 155vw;
  min-height: 496px;
  max-height: 734px;
  border-radius: 8px;
  background-color: #FAC663;
  background-image: url(../img/apartaments-catalog/banner-paw.svg), url(../img/apartaments-catalog/banner-foto-mobile.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: -36px -24px, center bottom;
  background-size: auto, cover;
}

.banner__content {
  padding-top: 45px;
}

.banner__title {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 11px;
}

.banner__accent {
  font-size: 37px;
  line-height: 38px;
}

.banner__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 24px;
}

.bunner__button {
  margin: 0 auto;
  text-align: center;
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(255, 254, 253, 0.8);
  opacity: 0;
  transition: opacity 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup-animation {
  opacity: 1;
}

.popup--close {
  display: none;
}

.popup-wrap {
  min-height: 100%;
  position: relative;
  padding: 10px 10px;
}

.popup__feedback,
.popup__booking {
  position: absolute;
  left: 50%;
  top: 2vh;
  margin-left: -145px;
  width: 290px;
  padding-bottom: 15px;
  background-color: #FFFEFD;
  box-shadow: 0px 0px 25px rgba(153, 153, 153, 0.25);
  border-radius: 10px;
  background-repeat: no-repeat;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.popup-inner-animation {
  transition: -webkit-transform 0.2s cubic-bezier(0.9, 1.84, 0.54, 1.31);
  transition: transform 0.2s cubic-bezier(0.9, 1.84, 0.54, 1.31);
  transition: transform 0.2s cubic-bezier(0.9, 1.84, 0.54, 1.31), -webkit-transform 0.2s cubic-bezier(0.9, 1.84, 0.54, 1.31);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.popup__booking {
  padding-top: 14px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url(../img/popup-background.svg);
  background-position: -13px -22px;
}

.popup__close {
  right: 7px;
  top: 7px;
}

.popup__title {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 15px;
}

.popup__input {
  width: 100%;
  height: 52px;
  border: 1px solid #D7D7D7;
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 0 19px;
}

.popup__input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 15px;
  line-height: 50px;
  color: #1A212F;
}

.popup__input::-moz-placeholder {
  font-weight: normal;
  font-size: 15px;
  line-height: 50px;
  color: #1A212F;
}

.popup__input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 15px;
  line-height: 50px;
  color: #1A212F;
}

.popup__input::-ms-input-placeholder {
  font-weight: normal;
  font-size: 15px;
  line-height: 50px;
  color: #1A212F;
}

.popup__input::placeholder {
  font-weight: normal;
  font-size: 15px;
  line-height: 50px;
  color: #1A212F;
}

.popup__date {
  margin-bottom: 15px;
}

.popup__date-text {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  margin-top: -2px;
  margin-bottom: 10px;
}

.popup__date-wrap {
  display: flex;
  justify-content: space-between;
}

.popup__date-min,
.popup__date-max {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.date-item-wrap {
  position: relative;
  width: 107px;
  height: 52px;
  margin-left: 5px;
  cursor: pointer;
}

.date-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #D7D7D7;
  border-radius: 25px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  padding-top: 17px;
}

.popup__input--date {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: inherit;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

.popup__input--date:focus + .date-cover {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: 0;
}

.popup__input--date::-webkit-datetime-edit {
  display: none;
}

.popup__input--date::-webkit-calendar-picker-indicator {
  position: absolute;
  left: -24px;
  top: 0;
  width: 100px;
  height: 46px;
  border-radius: 25px;
  color: transparent;
  background: none;
}

.popup__submit,
.button-done {
  height: 50px;
  background-color: #FF7236;
  background-image: url(../img/button-paw-revere.svg);
  background-repeat: no-repeat;
  background-position: top 7px right 7px;
  box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
  border-radius: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFEFD;
  text-align: left;
  cursor: pointer;
}

.popup__submit {
  width: 260px;
  padding-left: 47px;
}

.popup__submit:disabled {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  cursor: auto;
}

.popup__feedback {
  padding-top: 55px;
  margin-bottom: 20px;
  text-align: center;
  background-image: url(../img/popup-feedback-background.svg);
  background-position: -23px 187px;
}

.popup__title--feedback {
  margin-bottom: 11px;
}

.popup__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  padding: 0px 63px;
  margin-bottom: 29px;
}

.button-done {
  min-width: 122px;
  margin: 0 auto;
  padding-left: 34px;
}

.popup__error-message {
  position: absolute;
  left: 15px;
  max-width: 260px;
  padding: 9px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #FAC663;
  color: #000;
  transition-duration: 0.2s;
  opacity: 0;
  -webkit-transform: translateY(-9px);
  transform: translateY(-9px);
  text-align: center;
}

.popup__error-message span {
  width: 20px;
  height: 20px;
  background-color: #FAC663;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  position: absolute;
  left: 25px;
  bottom: -12px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (min-width: 768px) {
  .header {
    padding-left: 5.859375%;
    padding-right: 5.859375%;
  }
  .header__nav {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 76px;
  }
  .logo {
    width: 63px;
    height: 52px;
  }
  .header__menu-button {
    display: none;
  }
  .header-menu {
    position: static;
    min-height: 0;
    padding: 0;
    background-color: transparent;
    z-index: 0;
    opacity: 1;
    transition: 0s;
    width: 405px;
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
  }
  .header-menu__item {
    margin-bottom: 0;
  }
  .header-menu__mobile-contacts {
    display: none;
  }
  .nav-menu__item--mobile-disabled {
    display: block;
  }
  .header-menu__link {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  .intro {
    min-height: 868px;
    max-height: 954px;
    background-image: url(../img/intro-background-tablet.jpg);
  }
  .intro__content {
    padding-top: 136px;
    margin-bottom: 34px;
  }
  .intro__city {
    font-size: 14px;
    line-height: 17px;
  }
  .intro__title {
    margin-bottom: 8px;
    font-size: 62px;
    line-height: 67px;
  }
  .intro__description {
    font-size: 20px;
    line-height: 24px;
  }
  .features {
    padding-top: 111px;
    padding-left: 5.859375%;
    padding-right: 5.859375%;
    background-size: 378px auto;
    background-position: right -124px top -14px;
  }
  .section-title {
    font-size: 36px;
    line-height: 43px;
  }
  .features__title {
    margin-bottom: 51px;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features__item {
    width: 47.7876%;
    min-height: 285px;
    margin: 0;
    margin-bottom: 30px;
    padding: 123px 18px 20px 25px;
    background-size: 75px;
  }
  .features__item:last-child {
    margin-bottom: 30px;
  }
  .description-title {
    font-size: 20px;
  }
  .apartaments {
    padding-top: 51px;
    background-size: 339px auto;
    background-position: 0 92px;
  }
  .apartaments__title {
    margin-bottom: 51px;
  }
  .apartaments__slider {
    padding-bottom: 56px;
    padding-left: 5.859375%;
    padding-right: 5.859375%;
  }
  .apartaments-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .apartaments-item picture {
    width: 65.1917%;
    height: auto;
  }
  .apartaments-item__image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    vertical-align: bottom;
  }
  .apartaments-item__description-wrap {
    margin-left: 14%;
  }
  .apartaments-item__description {
    width: 50.8849%;
    margin: 0;
    margin-left: -16%;
    padding: 36px 26px 40px 40px;
    border-radius: 8px;
    max-width: 490px;
  }
  .apartaments-item__title {
    margin-bottom: 16px;
  }
  .apartaments-item__text {
    margin-bottom: 25px;
  }
  .apartaments-item__text br {
    display: none;
  }
  .apartaments-item__text span {
    display: inline;
  }
  .apartaments-item__button {
    width: 206px;
    margin: 0;
    margin-top: auto;
  }
  .feedback {
    padding-top: 87px;
    background-size: 298px auto;
    background-position: right -52px top -9px;
  }
  .feedback__slider {
    padding-top: 50px;
    padding-left: 5.859375%;
    padding-right: 5.859375%;
    padding-bottom: 86px;
  }
  .feedback-wrapper {
    width: 65.1917%;
  }
  .feedback-item {
    width: 65.1917%;
    min-height: 202px;
    padding: 33px 30px 30px 70px;
  }
  .feedback-item::before {
    top: 60px;
    left: 35px;
    font-size: 72px;
  }
  .feedback-item__text {
    margin-bottom: 17px;
  }
  .feedback-item__information {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    font-size: 14px;
    line-height: 17px;
    color: #848484;
  }
  .contacts {
    width: 100%;
    display: flex;
    padding-top: 96px;
  }
  .contacts__text {
    flex: 0 0 369px;
    min-height: 522px;
    padding: 51px 45px 58px 45px;
  }
  .contacts__map {
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .footer__nav {
    padding-top: 12px;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 11px;
  }
  .footer__logo {
    margin-bottom: 0;
  }
  .footer-menu {
    display: flex;
    flex-wrap: nowrap;
  }
  .footer-menu__item {
    width: auto;
    margin-bottom: 0;
    margin-left: 30px;
  }
  .footer-menu__item:nth-child(1) {
    order: 1;
  }
  .footer-menu__item:nth-child(2) {
    order: 2;
  }
  .footer-menu__item:nth-child(3) {
    order: 3;
  }
  .footer-menu__item:nth-child(4) {
    order: 4;
  }
  .copyright {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 18px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 25px;
  }
  .catalog-apartaments {
    padding-left: 5.8593%;
    padding-right: 5.8593%;
    margin-top: 51px;
    padding-bottom: 90px;
  }
  .catalog-apartaments__header {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }
  .catalog-apartaments__title {
    margin-bottom: 0;
    font-size: 36px;
    line-height: 43px;
  }
  .catalog-apartaments__controls {
    padding-top: 9px;
  }
  .catalog-apartaments__filter-button {
    width: 121px;
    padding-left: 43px;
    background-position: 21px 10px;
  }
  .custom-select {
    width: 174px;
  }
  .custom-select::before {
    top: 14px;
    right: 19px;
  }
  .catalog-apartaments__sort-button {
    margin-left: 30px;
  }
  .custom-select__item {
    padding-left: 30px;
    background-position-x: 19px;
    background-position-y: 11px;
  }
  .catalog-apartaments__filter {
    width: 332px;
    padding-top: 48px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .filter__close {
    right: 12px;
    top: 12px;
  }
  .filter-button {
    width: 185px;
  }
  .catalog-apartaments__list {
    display: flex;
    flex-wrap: wrap;
  }
  .catalog-apartaments__item {
    flex: 0 0 47.7876%;
  }
  .catalog-apartaments__item:nth-child(2n) {
    margin-left: auto;
  }
  .catalog-item:last-child {
    margin-bottom: 30px;
  }
  .image-container {
    height: 24.0885vw;
  }
  .catalog-item__description {
    width: 284px;
  }
  .catalog-item__link-wrap {
    padding: 0 7.3333%;
  }
  .catalog-item__link {
    width: 274px;
  }
  .banner {
    padding-left: 5.8593%;
    padding-right: 5.8593%;
  }
  .banner__body {
    width: 100%;
    height: 46.7447vw;
    min-height: auto;
    max-height: none;
    border-radius: 10px;
    background-image: url(../img/apartaments-catalog/banner-paw.svg), url(../img/apartaments-catalog/banner-foto-tablet.jpg);
    background-position: -51px -43px, center bottom;
    background-size: 201px auto, cover;
  }
  .banner__content {
    padding-top: 9%;
    padding-left: 7.4%;
  }
  .banner__title {
    font-size: 36px;
    line-height: 39px;
    text-align: left;
    margin-bottom: 13px;
  }
  .banner__accent {
    font-size: 56px;
    line-height: 56px;
  }
  .banner__text {
    text-align: left;
    margin-bottom: 29px;
  }
  .bunner__button {
    margin: 0;
  }
  .room {
    padding-left: 5.8593%;
    padding-right: 5.8593%;
    padding-top: 60px;
    margin-bottom: 60px;
    display: flex;
  }
  .room__images {
    width: 46.0937vw;
    margin: 0;
    margin-right: 59px;
  }
  .gallery-top {
    margin-bottom: 21px;
  }
  .gallery-top__slide {
    height: 37.5vw;
  }
  .gallery-thumbs__slide {
    height: 10.15625vw;
  }
  .room__description {
    display: flex;
    flex-direction: column;
    width: 265px;
    margin: 0;
  }
  .room__title {
    font-size: 36px;
    line-height: 43px;
    margin-top: -9px;
    margin-bottom: 26px;
  }
  .room__parameter:not(:last-child) {
    margin-bottom: 15px;
  }
  .room__to-book {
    width: 206px;
    padding-left: 30px;
    padding-top: 16px;
    margin-top: auto;
  }
  .popup-wrap {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup__feedback,
  .popup__booking {
    position: static;
    margin-left: 0;
    width: 502px;
  }
  .popup__feedback.visually-hidden,
  .popup__booking.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .popup__close {
    right: 12px;
    top: 12px;
  }
  .popup__title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 43px;
  }
  .popup__input {
    padding: 0 30px;
  }
  .popup__booking {
    padding-top: 53px;
    background-position: -33px -31px;
    background-size: 125px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  .popup__input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 46px;
  }
  .popup__input::-moz-placeholder {
    font-size: 16px;
    line-height: 46px;
  }
  .popup__input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 46px;
  }
  .popup__input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 46px;
  }
  .popup__input::placeholder {
    font-size: 16px;
    line-height: 46px;
  }
  .popup__date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .popup__date-text {
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    padding-left: 6px;
  }
  .popup__date-wrap {
    flex: 0 0 327px;
  }
  .date-item-wrap {
    width: 132px;
    margin-left: 10px;
  }
  .date-cover {
    padding-left: 20px;
    text-align: left;
    font-size: 16px;
    line-height: 19px;
  }
  .popup__submit {
    width: 230px;
    padding-left: 32px;
  }
  .popup__feedback {
    padding-top: 63px;
    background-position: -38px 132px;
    background-size: 181px;
  }
  .popup__title--feedback {
    margin-bottom: 14px;
  }
  .popup__text {
    margin-bottom: 44px;
  }
  .popup__error-message {
    left: 30px;
    max-width: 442px;
  }
}

@media (min-width: 1366px) {
  body {
    width: 1366px;
  }
  .header {
    padding-left: 98px;
    padding-right: 98px;
  }
  .intro {
    min-height: 504px;
    height: auto;
    padding-left: 198px;
    background-image: url(../img/intro-background-desctop.jpg);
    text-align: left;
  }
  .intro__content {
    padding-top: 149px;
  }
  .intro__title {
    margin-bottom: 10px;
  }
  .cover-button {
    padding-top: 17px;
    padding-left: 30px;
  }
  .intro__button {
    margin: 0;
  }
  .features {
    padding-top: 131px;
    padding-left: 98px;
    padding-right: 98px;
    background-size: 300px auto;
    background-position: right -1px top 10px;
  }
  .features__title {
    margin-bottom: 62px;
  }
  .features__item {
    width: 370px;
    min-height: 321px;
    padding: 148px 30px 22px 30px;
    background-size: 91px;
    background-position: 30px 30px;
    margin-bottom: 19px;
  }
  .features__item:last-child {
    margin-bottom: 19px;
  }
  .description-title {
    font-size: 22px;
  }
  .features__text {
    font-size: 16px;
  }
  .apartaments {
    padding-top: 82px;
    background-size: 484px auto;
    background-position: 0 99px;
  }
  .apartaments__title {
    margin-bottom: 61px;
  }
  .apartaments__slider {
    padding-bottom: 61px;
    padding-left: 168px;
    padding-right: 168px;
  }
  .apartaments-item__image {
    width: 600px;
  }
  .apartaments-item__description {
    width: 500px;
    margin-left: -140px;
    padding: 34px 40px 40px 100px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  .apartaments-item__title {
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 26px;
  }
  .apartaments-item__sub-text {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 19px;
  }
  .apartaments-item__sub-text::before {
    width: 13px;
    height: 13px;
    top: 2px;
  }
  .swiper-buttons-container {
    width: 82px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 168px;
    bottom: 12px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    display: block;
    top: 444px;
    font-size: 0;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
    background-repeat: no-repeat;
    background-size: 6px 10px;
  }
  .swiper-button-prev {
    background-image: url(../img/slider-button-prev.svg);
    background-position: left 14px center;
  }
  .swiper-button-next {
    background-image: url(../img/slider-button-next.svg);
    background-position: right 14px center;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    content: '';
    font-family: swiper-icons;
    font-size: 0;
    letter-spacing: 0;
    line-height: 0;
  }
  .feedback {
    padding-top: 119px;
    background-size: 406px auto;
    background-position: right -48px top -48px;
  }
  .feedback__slider {
    padding-top: 60px;
    padding-left: 98px;
    padding-right: 98px;
  }
  .feedback-item {
    padding: 33px 35px 35px 70px;
    font-weight: 500;
    font-size: 16px;
  }
  .contacts {
    width: 100%;
    display: flex;
    padding-top: 128px;
  }
  .contacts__text {
    flex: 0 0 568px;
    min-height: 580px;
    padding: 62px 45px 58px 198px;
  }
  .contacts__title {
    margin-bottom: 38px;
  }
  .contacts-item {
    margin-bottom: 26px;
  }
  .contacts-item__title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .contacts-item__text,
  .contacts-item__link {
    font-size: 16px;
    line-height: 19px;
  }
  .footer__nav {
    padding-left: 198px;
    padding-right: 198px;
  }
  .copyright {
    padding-left: 198px;
    padding-right: 198px;
  }
  .catalog-apartaments {
    padding-left: 98px;
    padding-right: 98px;
    margin-top: 61px;
    padding-bottom: 108px;
  }
  .catalog-apartaments__header {
    margin-bottom: 50px;
  }
  .catalog-apartaments__filter-button {
    display: none;
  }
  .catalog-apartaments__filter--close {
    display: block;
  }
  .catalog-apartaments__wrap {
    display: flex;
  }
  .popup-filter {
    position: static;
    width: auto;
    height: auto;
    z-index: 9;
    opacity: 1;
    transition: opacity 0s;
    overflow-y: auto;
    overflow-x: auto;
    background: rgba(255, 254, 253, 0.8);
  }
  .popup-filter--close {
    display: block;
  }
  .popup-content {
    min-height: none;
    display: block;
    padding: 0;
  }
  .catalog-apartaments__filter {
    position: static;
    width: 240px;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
    border-radius: 0;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .filter__close {
    display: none;
  }
  .subsection-title {
    line-height: 15px;
    margin-bottom: 16px;
  }
  .price-input {
    padding: 2px 4px;
    width: 100px;
  }
  .price-input:last-child {
    margin-left: 10px;
  }
  .filter__price {
    margin-bottom: 35px;
  }
  .filter__area {
    margin-bottom: 32px;
  }
  .filter-list__item:not(:last-child) {
    height: 20px;
  }
  .filter__label {
    line-height: 24px;
    padding-left: 31px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .filter__label::before {
    width: 20px;
    height: 20px;
    background-position: left 4px top 5px;
  }
  .filter-buttons {
    width: 185px;
  }
  .catalog-apartaments__list {
    flex: 0 0 870px;
    margin-left: auto;
    align-items: flex-start;
  }
  .catalog-apartaments__item {
    flex: 0 0 270px;
    transition: box-shadow 0.2s ease-in-out;
  }
  .catalog-apartaments__item:hover {
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.7);
  }
  .catalog-apartaments__item:nth-child(2n) {
    margin-left: 0;
  }
  .catalog-apartaments__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .image-container {
    height: 185px;
  }
  .catalog-item__description {
    width: auto;
    padding-left: 19px;
    margin-bottom: 20px;
  }
  .catalog-item__parameter {
    margin-right: 7px;
  }
  .catalog-item__equipment {
    margin-top: 0;
  }
  .equipment-list__item {
    margin-left: 7px;
  }
  .equipment-list__image {
    width: 16px;
    height: auto;
  }
  .catalog-item__link {
    width: 230px;
  }
  .banner {
    padding-left: 98px;
    padding-right: 98px;
    margin-bottom: 12px;
  }
  .banner__body {
    width: 1170px;
    height: 379px;
    background-image: url(../img/apartaments-catalog/banner-paw.svg), url(../img/apartaments-catalog/banner-foto-desctop.jpg);
    background-position: -52px -68px, center bottom;
    background-size: 317px auto, cover;
  }
  .banner__content {
    padding-top: 70px;
    padding-left: 270px;
  }
  .banner__text {
    font-size: 16px;
  }
  .bunner__button {
    padding-top: 16px;
    padding-left: 0;
  }
  .room {
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 70px;
    margin-bottom: 49px;
    background-image: url(../img/apartaments-catalog/room-background-paw.svg);
    background-repeat: no-repeat;
    background-position-x: 1069px;
    background-position-y: -3px;
  }
  .room__images {
    width: 600px;
    margin-right: 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .gallery-top {
    height: 396px;
    margin: 0;
    flex: 0 0 500px;
  }
  .gallery-top__slide {
    height: 396px;
  }
  .gallery-thumbs {
    height: 396px;
    flex: 0 0 100px;
    margin: 0;
  }
  .gallery-thumbs-wrapper {
    width: 70px;
  }
  .room__title {
    margin-bottom: 30px;
  }
  .room__parameters {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 23px;
  }
  .room__parameter:not(:last-child) {
    margin-bottom: 17px;
  }
  .room__to-book {
    margin-top: 0;
  }
  .popup {
    width: 100vw;
  }
  .popup__feedback,
  .popup__booking {
    width: 570px;
    padding-bottom: 70px;
  }
  .popup__close {
    right: 28px;
    top: 28px;
    background-size: 19px;
  }
  .popup__input {
    padding: 4px 30px 0 30px;
  }
  .popup__booking {
    padding-top: 63px;
    background-position: -15px -23px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .popup__date-text {
    padding: 0;
  }
  .popup__date-wrap {
    flex: 0 0 321px;
  }
  .date-item-wrap {
    width: 129px;
  }
  .popup__feedback {
    padding-top: 63px;
    background-position: -38px 132px;
    background-size: 181px;
  }
  .popup__title--feedback {
    margin-bottom: 14px;
  }
  .popup__text {
    margin-bottom: 44px;
  }
  .popup__error-message {
    left: 70px;
    max-width: 430px;
  }
}
